* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/*scrool*/
*::-webkit-scrollbar:horizontal {
    height: 7px;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    border: 1px solid var(--color-black);
}

*::-webkit-scrollbar-thumb {
    background-color: #862b59;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: white;
    border-radius: 7px;
}

*::-webkit-scrollbar-corner {
    background-color: var(--color-white);
}



body {
    background-color: #000000;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.header--h1:hover {
    color: #000000;
    transition: 1s;
}

.header img:hover {
    rotate: 360deg;
    transition: 1s;
}

p:hover{
    color: #000000;
}


img:hover {
    cursor: pointer;
}



.overflow {
    overflow: hidden;
}

.bg-grey {
    color: #434343;
}

/* Navigation */
.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.navlogo {
    width: 155px;
    height: 59px;
    margin: 0px 30px;
}

.column1 {
    width: 400px;
    height: 70vh;
}

.container-fluid {
    display: flex;
    flex-direction: column;
}

.columnshop {
    display: flex;
    position: fixed;
    background-color: #434343;
    width: 30%;
    margin-left: 70%;
    height: 100%;
}

/* Header */
.header {
    height: 300px;
    background-color: #862b59;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    cursor: pointer;
    margin-top: 10px;
}

.logo {
    width: 500px;
    height: 500px;
}

.header--h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 120px;
    letter-spacing: 8px;
}



.bg-card {
    transition: all 0.25s;
}

.row .bg-card:hover {
    transform: translateY(-10px);
}

.btn-danger {
    background-color: #eb4a5a !important;
    border-color: #434343;
    transform: #434343;
    margin-right: 20px;
}

/* footer */
.footer {
    margin-top: 50px;
}

.textfooter {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 180px;
    background-color: #862b59;
    margin-bottom: 10px;
    cursor: pointer;
}

.card-title {
    color: #000000;
}

.card-text {
    color: #000000;
}